<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GlobeGuides.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F566B1A1E241FCD007F01B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F566B2E1E241FCE007F01B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F566B391E241FCE007F01B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
